/* Typography */

body {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
}

#title-block-header h1 {
    font-size: 3em;
}

/* Frontmatter */

#title-block-header {
    margin: 30px;
    text-align: center;
}
