@import url('https://fonts.googleapis.com/css?family=Lusitana');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* Typography */

/* Font choices */

body {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', serif;
}

code {
    font-family: 'Inconsolata', monospace;
}

/* Font sizes */

body {
    font-size: 18px;
}

#title-block-header h1 {
    font-size: 54px;
}

#title-block-header .author {
    font-size: 25px;
}

#TOC {
    font-size: 23px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 36px;
    margin: 15px 0;
}

section p {
    font-size: 23px;
}

section code {
    font-size: 21px;
}

/* General Layout */

body {
    margin: 0 auto;
    width: 80%;
}

/* Frontmatter */

#title-block-header {
    margin: 20vh auto;
    text-align: center;
}

/* Table of Contents */

#TOC {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 60%;
}

#TOC ul {
    list-style-type: none;
}

/* Body */

/* Links */

a {
    color: blue;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0 3px;
}

a:hover {
    border: 1px solid black;
}
