@import url('https://fonts.googleapis.com/css?family=Lusitana');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* Typography */

body {
    font-family: 'Lusitana', serif;
    font-size: 18px;
}

#title-block-header h1 {
    font-size: 3em;
}

#title-block-header .author {
    font-size: 1.4em;
}

#TOC {
    font-size: 1.3em;
}

p {
    font-size: 1.2em;
}

code {
    font-family: 'Inconsolata', monospace;
}

/* General Layout */

body {
    margin: 0 auto;
    width: 80%;
}

/* Frontmatter */

#title-block-header {
    margin: 20vh auto;
    text-align: center;
}

/* Table of Contents */

#TOC {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 60%;
}

#TOC ul {
    list-style-type: none;
}

/* Body */
